<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/css/bootstrap.bundle.min.js"></script>
</head>
<body class="fondo_imagen">
    <h2 style="text-align: center; color:black">Bienvenido a Electric Way, los mejores coches eléctricos del mercado</h2>
    <div class="fstsection">
        <h3>Te damos la bienvenida</h3>
        <p>Para obtener una mayor experiencia de usuario y hacer tus pedidos 
            inicia sesión y si no tiene cuenta regístrate de forma gratuita.
        </p>
        <div class="panelbuttons">
            <button class="btn btn-primary" id="login_button">Iniciar sesión</button>
            <button class="btn btn-primary" id="reg_button">Registrarse</button>
        </div>
        
    </div>
</body>
</html>