<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/css/bootstrap.bundle.min.js"></script>
</head>
<body class="fondo_imagen">
    <h2>Bienvenido a Electric Way, los mejores coches eléctricos del mercado</h2>
    
</body>
</html>