<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Flota de Vehículos Eléctricos</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    
        <div class="bienvenida">
            <h2>Bienvenido a Electric Way, la mejor plataforma de movilidad sostenible.</h2>
            <p style="color:rgb(214, 64, 0)">
                Tu viaje hacia un futuro más limpio comienza aquí.
            </p>
            <div class="caracteristicas">
                <p>Sostenible <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-recycle" viewBox="0 0 16 16">
                        <path
                            d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.5.5 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244z" />
                    </svg></p>
                <p>Ecológico <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-leaf" viewBox="0 0 16 16">
                        <path
                            d="M1.4 1.7c.216.289.65.84 1.725 1.274 1.093.44 2.884.774 5.834.528l.37-.023c1.823-.06 3.117.598 3.956 1.579C14.16 6.082 14.5 7.41 14.5 8.5c0 .58-.032 1.285-.229 1.997q.198.248.382.54c.756 1.2 1.19 2.563 1.348 3.966a1 1 0 0 1-1.98.198c-.13-.97-.397-1.913-.868-2.77C12.173 13.386 10.565 14 8 14c-1.854 0-3.32-.544-4.45-1.435-1.125-.887-1.89-2.095-2.391-3.383C.16 6.62.16 3.646.509 1.902L.73.806zm-.05 1.39c-.146 1.609-.008 3.809.74 5.728.457 1.17 1.13 2.213 2.079 2.961.942.744 2.185 1.22 3.83 1.221 2.588 0 3.91-.66 4.609-1.445-1.789-2.46-4.121-1.213-6.342-2.68-.74-.488-1.735-1.323-1.844-2.308-.023-.214.237-.274.38-.112 1.4 1.6 3.573 1.757 5.59 2.045 1.227.215 2.21.526 3.033 1.158.058-.39.075-.782.075-1.158 0-.91-.288-1.988-.975-2.792-.626-.732-1.622-1.281-3.167-1.229l-.316.02c-3.05.253-5.01-.08-6.291-.598a5.3 5.3 0 0 1-1.4-.811" />
                    </svg></p>
                <p>Innovador <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                    </svg></p>
            </div>
        </div>
        
        <section id="vehiculos">
            <div class="container" id="main-content">
                <div class="publicidad">
                    <h2>La forma más rápida de conseguir tu vehículo</h2>
                    <h2>100% eléctrico</h2>
                    <hr>
                    <p style="color:rgb(214, 64, 0)">Si eres de los que no puede esperar cuando quiere algo, tenemos el atajo
                        perfecto para ti.<br>
                        Tu vehículo ideal te está esperando en uno de nuestros puntos de venta.
                    </p>
                    <hr>
                    <h2>Consulta nuestro catálogo</h2>
                </div>
                
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <img src="/recurso-imagenes/vehiculos/byd_seal1.png"
                                class="card-img-top clickable-img" alt="byd_seal1">
                            <div class="card-body">
                                <h5 class="card-title">Byd Seal 1</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                    to additional content. This content is a little bit longer.</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Matrícula</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Autonomía</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>67891FYS</td>
                                            <td>Renault</td>
                                            <td>500 km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/recurso-imagenes/vehiculos/byd_seal2.png"
                                class="card-img-top clickable-img" alt="byd_seal2">
                            <div class="card-body">
                                <h5 class="card-title">Byd Seal 2</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                    to additional content. This content is a little bit longer.</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Matrícula</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Autonomía</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>67891FYS</td>
                                            <td>Renault</td>
                                            <td>500 km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/recurso-imagenes/vehiculos/byd_seal3.png"
                                class="card-img-top clickable-img" alt="byd_seal3">
                            <div class="card-body">
                                <h5 class="card-title">Byd Seal 3</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                    to additional content. This content is a little bit longer.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Matrícula</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Autonomía</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>67891FYS</td>
                                            <td>Renault</td>
                                            <td>500 km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <img src="/recurso-imagenes/vehiculos/tesla1.png"
                                class="card-img-top clickable-img" alt="tesla1">
                            <div class="card-body">
                                <h5 class="card-title">Tesla 1</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                    to additional content. This content is a little bit longer.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Matrícula</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Autonomía</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>67891FYS</td>
                                            <td>Renault</td>
                                            <td>500 km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/recurso-imagenes/vehiculos/byd_seal1.png"
                                class="card-img-top clickable-img" alt="byd_seal1">
                            <div class="card-body">
                                <h5 class="card-title">Byd Seal 1</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                    to additional content. This content is a little bit longer.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Matrícula</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Autonomía</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>67891FYS</td>
                                            <td>Renault</td>
                                            <td>500 km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/recurso-imagenes/vehiculos/byd_seal2.png"
                                class="card-img-top clickable-img" alt="byd_seal2">
                            <div class="card-body">
                                <h5 class="card-title">Byd Seal 2</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                    to additional content. This content is a little bit longer.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Matrícula</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Autonomía</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>67891FYS</td>
                                            <td>Renault</td>
                                            <td>500 km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <img src="/recurso-imagenes/vehiculos/byd_seal3.png"
                                class="card-img-top clickable-img" alt="byd_seal3">
                            <div class="card-body">
                                <h5 class="card-title">Byd Seal 3</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                    to additional content. This content is a little bit longer.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Matrícula</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Autonomía</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>67891FYS</td>
                                            <td>Renault</td>
                                            <td>500 km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/recurso-imagenes/vehiculos/tesla1.png"
                                class="card-img-top clickable-img" alt="tesla1">
                            <div class="card-body">
                                <h5 class="card-title">Tesla 1</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                    to additional content. This content is a little bit longer.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Matrícula</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Autonomía</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>67891FYS</td>
                                            <td>Renault</td>
                                            <td>500 km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/recurso-imagenes/vehiculos/tesla1.png"
                                class="card-img-top clickable-img" alt="tesla1">
                            <div class="card-body">
                                <h5 class="card-title">Tesla 1</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                    to additional content. This content is a little bit longer.
                                </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Matrícula</th>
                                            <th scope="col">Marca</th>
                                            <th scope="col">Autonomía</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>67891FYS</td>
                                            <td>Renault</td>
                                            <td>500 km</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    

    

    
    
    
    <script src="/js/jquery.min.js"></script>
</body>

</html>