<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="error">
        <h1>Vehículo inexistente</h1>
        <p>Aún no disponemos de ese vehículo</p>
        <img src="/images/error.png">
    </div>
    
</body>
</html>