<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <img src="/images/logo.png" alt="logo">
        <h1 style="color:rgb(255, 85, 0)">ElectricWay</h1>
        <%if(!usuario){%>
            <div class="btns">
                <a href="/login" class="btn btn-primary" id="login_button">Iniciar sesión</a>
                <a href="/register" class="btn btn-primary" id="reg_button">Registrarse</a>
            </div>
        <%}else{%>
            <a href="/login/logout" class="btn btn-primary" id="logout_button">Cerrar sesión</a>
        <%}%>
    </header>
    <script src="/js/jquery.min.js"></script>
</body>
</html>